{{ define "main" }}
    {{ .Content }}
<section>
  <header class="major">
    <h2>{{ i18n "search" }}</h2>
  </header>
    <input id="search" type="text" id="searchbox" placeholder="Search">
    <br/>
    <h3>Results:</h3>
  <div id="results">
    <script type="text/javascript">
var lunrIndex, $results, pagesIndex;
var searchQuery = param("query");

// Read a page's GET URL variables and return them as an associative array.
function param(name) {
    return decodeURIComponent((location.search.split(name + '=')[1] || '').split('&')[0]).replace(/\+/g, ' ');
}
// Nothing crazy here, just display results from querystring
function initQuerystring(query) {
    console.log("initQuerystring started with " + query);
    $results = $("#results");
    var QSresults = search(query);
    console.log("rendering results for QS: " + typeof search(query));
    renderResults(QSresults);
    initUI;
}
// Nothing crazy here, just hook up a listener on the input field
function initUI() {
    $results = $("#results");
    $("#search").keyup(function() {
        $results.empty();
        // Only trigger a search when 2 chars. at least have been provided
        var query = $(this).val();
        if (query.length < 2) {
            return;
        }
        var results = search(query);
        console.log("rendering results for TB: " + typeof search(query));
        renderResults(results);
    });
}
/**
 * Trigger a search in lunr and transform the result
 *
 * @param  {String} query
 * @return {Array}  results
 */
function search(query) {
    console.log("starting search with " + query);
    return lunrIndex.search(query).map(function(result) {
        console.log("searching lunrindex ...");
        return pagesIndex.filter(function(page) {
            return page.uri === result.ref;

        })[0];
    });
}

/**
 *
 * @param  {Array} results to display
 */
function renderResults(results) {
    if (!results.length) {
        console.log("results aren't long enough");
        return;
    }

    // show all results, I thought about only showing 6 or so and having a "see all results" button
    results.forEach(function(result) {

        var $contentmin = result.content.split(" ").slice(0, 70).join(" ");
        var $result = $("<article>");
        $result.append('<h3><a href="' + result.uri + '" class="image">' + result.title + '</a></h3>');
        $result.append("<p>" + $contentmin + "</p>");
        $result.append('<ul class="actions"><li><a href="' + result.uri + '" class="button">{{ i18n "morelink" }}</a></li></ul>');
        $result.append('</article>');
        $results.append($result);
    });
}

// Run code

$(document).ready(function() {
    // Initialize lunrjs using our generated index file
    console.log("initialing lunr");
    // First retrieve the index file
    $.getJSON("/index.json")
        .done(function(index) {
            console.log("index.json loaded:" + index);
            pagesIndex = index;
            console.log("index:", pagesIndex);
            lunrIndex = lunr(function() {
                this.field("title", {
                    boost: 10
                });
                this.field("tags", {
                    boost: 5
                });
                this.field("categories", {
                    boost: 5
                });
                this.field("content");
                this.ref("uri");
                pagesIndex.forEach(function(page) {
                    this.add(page)
                }, this)
            });
            if (searchQuery) {
                initQuerystring(searchQuery);
                initUI();
            } else {
                initUI();
            }
        })
        .fail(function(jqxhr, textStatus, error) {
            var err = textStatus + ", " + error;
            console.error("Error getting Hugo index flie:", err);
        });

});
    </script>
  </div>
</section>
{{ end }}
