{{ define "main"}} 
<section>
  <header class="main">
    <h1>{{ .Title }}</h1>
  </header>
  <span class="image main">
    {{ $image := .Resources.GetMatch "header_image.*" }}
    {{ with $image }}
      {{ $image := .Fill "1280x416" }}
      <img src="{{ $image.Permalink }}">
    {{ end }}
  </span>
  <p><strong>{{ .Param "subtitle" }}</strong></p>
  <p>{{ .Content }}</p>
</section>
{{ $page_link := .Permalink }}
{{ end }}
