	a {
		color: #f56a6a;
	}

		a:hover {
			border-bottom-color: #f56a6a;
			color: #f56a6a !important;
		}

	header.major > :last-child {
		border-bottom: solid 3px #f56a6a;
	}

		input[type="text"]:focus,
		input[type="password"]:focus,
		input[type="email"]:focus,
		input[type="tel"]:focus,
		input[type="search"]:focus,
		input[type="url"]:focus,
		select:focus,
		textarea:focus {
			border-color: #f56a6a;
			box-shadow: 0 0 0 1px #f56a6a;
		}

		input[type="checkbox"]:focus + label:before,
		input[type="radio"]:focus + label:before {
			border-color: #f56a6a;
			box-shadow: 0 0 0 1px #f56a6a;
		}

			ul.contact li i:before {
				color: #f56a6a;
			}

				ul.pagination li > .page.active {
					background-color: #f56a6a;
					color: #ffffff !important;
				}

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		box-shadow: inset 0 0 0 2px #f56a6a;
		color: #f56a6a !important;
	}

		input[type="submit"].primary,
		input[type="reset"].primary,
		input[type="button"].primary,
		button.primary,
		.button.primary {
			background-color: #f56a6a;
		}


				.features article .icon:before {
					color: #f56a6a;
				}

	#header {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		border-bottom: solid 5px #f56a6a;
	}

			#menu ul a:hover, #menu ul span:hover {
				color: #f56a6a;
			}

				#menu ul a.opener:hover:before, #menu ul span.opener:hover:before {
					color: #f56a6a;
				}
