<!-- Section -->
<section>
  <header class="major">
    <h2>{{ .Site.Params.contact.title }}</h2>
  </header>
  <p>{{ .Site.Params.contact.intro }}</p>
  <ul class="contact">
    <li><i class="far fa-envelope"></i>
      <a href="mailto:{{ .Site.Params.contact.email }}?subject=Anfrage">{{ .Site.Params.contact.email }}</a>
    </li>
    <li><i class="fas fa-phone"></i> {{ .Site.Params.contact.phone }}</li>
    <li><i class="fas fa-home"></i>
      {{ .Site.Params.contact.address | safeHTML }}
    </li>
  </ul>
</section>
