<!-- Miniposts Section -->
<section>
  <header class="major">
    <h2>{{ .Site.Params.miniposts.title }}</h2>
  </header>
  <div class="mini-posts">
    {{ range first 3 ( where (where .Site.Pages "Section" "post") "Params.pinned" "yes") }}
    <article>
      <a href="{{ .Permalink }}" class="image">
      {{ $image := .Resources.GetMatch "header_image.*" }}
      {{ with $image }} 
        {{ $image := .Fill "288x174" }}
       <img src="{{ $image.RelPermalink }}">
     {{ end }}
      </a>
      <p>{{ .Params.subtitle }}</p>
    </article>
    {{ end }}
  </div>
  <ul class="actions">
    <li><a href="/post" class="button">{{ i18n "allposts" }}</a></li>
  </ul>
</section>
