<!-- Search -->
<section id="search" class="alt">
  <form method="get" action="{{ .Site.BaseURL }}/search/">
    <input type="text" name="query" id="query" placeholder="{{ i18n "search" }}"/>
  </form>
</section>
