<!-- Sidebar -->
<div id="sidebar">
  <div class="inner">
    {{ partial "search-input.html" . }}
    {{ partial "nav.html" . }}
    {{ partial "miniposts.html" . }}
    {{ partial "contact.html" . }}
    {{ partial "footer.html" . }}
  </div>
</div>
