<header id="header">
  <a href="/" class="logo">{{ .Site.Title }}</a>
  <ul class="icons">
    {{ range sort .Site.Params.social "weight" "asc"}}
      {{ if isset . "url"  }}
        <li><a href="{{ .url }}" class="icon {{ .icon }}"><span class="label">Twitter</span></a></li>
      {{ end }}
    {{ end }}
    <!-- this is good but not in the canonical theme so removing from this theme
    {{ partial "lang.html" . }} -->
  </ul>
</header>
