{{ define "main" }}

<section>
  <header class="major">
    <h2>{{ .Title }}</h2>
  </header>
  <div class="posts">
    {{ range (.Paginator 6).Pages }}
    <article>
      <a href="{{ .RelPermalink }}" class="image">
        {{ $image := .Resources.GetMatch "header_image.*" }}
        {{ with $image }}
          {{ $image := $image.Fill "416x256" }}
          <img src="{{ $image.RelPermalink }}">
        {{ end }}
      </a>
      <h3>{{ .Name }}</h3>
      <p>{{ .Summary }}</p>
      <ul class="actions">
	<li><a href="{{ .RelPermalink }}" class="button">{{ i18n "morelink" }}</a></li>
      </ul>
    </article>
    {{ end }}
  </div>
  {{ template "_internal/pagination.html" . }}
</section>

{{ end }}
